{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white;">
            {{ form.hidden_tag() }}
            <img src="https://th.bing.com/th/id/OIP.tZKxFU0lwHLBBNMxk53WfAHaJh?pid=ImgDet&rs=1" width="150" alt="logo" class="mb-4 mt-2">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder='Username') }}

            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder='Password') }}

            <br>

            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a href="{{ url_for('register_page') }}" class="btn btn-sm btn-secondary">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}
